<html>
<head>
<title>Photo booth slider</title>
<link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>
<body>
<div id="slickcontent">
  <div style="background-image: url('http://lorempixel.com/1000/1000/nightlife')"></div>
  <div style="background-image: url('http://lorempixel.com/1000/1000/sports')"></div>
  <div style="background-image: url('http://lorempixel.com/1000/1000/cats')"></div>
  <div style="background-image: url('http://lorempixel.com/1000/1000/city')"></div>
</div>
<script type="text/javascript" src="scripts/vendor.min.js"></script>
<script type="text/javascript" src="scripts/main.min.js"></script>
</body>

</html>