<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/header %>
</head>
<body class="startpage">
<img src="images/hipstaroll-logo-200.png" id="hipstalogo">
<div class="eventcode-wrapper">
  <div class="eventcode-input">
    <input type="text" id="eventcode" placeholder="Enter your event code" />
    <button id="open-slideshow">Start slideshow</button>
  </div>
</div>
</body>
<% include partials/footer %>
</html>
