<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/header %>
</head>
<body class="slideshow">
<div id="slickcontent">
    <% images.forEach(function(image) { %>
      <div class="slide">
        <div class="gallery-wrapper">
          <div class="gallery">
            <img src="<%= image.imageUrl %>" alt="" />
          </div>
        </div>

        <div class="meta-wrapper">
          <div class="meta-info">
            <img src="images/logo.png" alt="" class="logo" />
            <span class="event-name">#Hipstamomments20016</span>
            <span class="event-code">Event code: <span>FNASKLEO</span></span>
            <span class="hipstaroll">Download app at hipstaroll.com</span>
          </div>

          <div class="comments-wrapper fadeIn">
            <div class="comments">
              <span class="time">1 week ago</span>
              <span class="name">Johan Dyrssen</span>
              <span class="comment">Najs!!!!</span>
            </div>
            <div class="comments">
              <span class="time">1 hour ago</span>
              <span class="name">Johan Dyrssen</span>
              <span class="comment">Najs!!!!</span>
            </div>
            <div class="comments">
              <span class="time">Just now</span>
              <span class="name">Johan Dyrssen</span>
              <span class="comment">Najs!!!!</span>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
</div>
</body>
<% include partials/footer %>
</html>
