<html>
<head>
<title>Photo booth slider</title>
<link rel="stylesheet" type="text/css" href="css/style.min.css" />
</head>
<body>
<div id="slickcontent">
    <% images.forEach(function(image) { %>
        <div style="background-image: url('<%= image.imageUrl %>'"></div>
    <% }); %>
</div>
<script type="text/javascript" src="scripts/vendor.min.js"></script>
<script type="text/javascript" src="scripts/main.min.js"></script>
</body>

</html>
