<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/header %>
</head>
<body class="slideshow">
<div id="slickcontent">
    <% images.forEach(function(image) { %>
        <div class="img-holder" style="background-image: url('<%= image.imageUrl %>')">
        </div>
    <% }); %>
</div>
</body>
<% include partials/footer %>
</html>
